body {
    font-family: Times, Helvetica, sans-serif;
}

/* Header */

#header {
    width: 100%;
    height: 3em;
    background: linear-gradient(45deg,  #4fa49a, #4361c2);
    overflow: hidden;
    /* padding: 5px 5px; */

}

#header h1 {
    color:white;
    padding: 5px;
    float: left;
    font-size: 2em;
    vertical-align: top;
    margin: 0;
}

#header div a{
    /* float: right; */
    color: white;
    text-align: right;
    padding: 5px;
    text-decoration: none;
    /* font-size: 18px;  */
    line-height: 25px;
    border-radius: 4px;
  }

.header-right {
    float: right;
}

.header-right .fab{
    margin-right: 1em;
}

/* Wrapper */

#wrapper {
    width: 100%;
    overflow: hidden;
    padding: 5px 5px;
}


/* Image */

.image {
    border-radius: 5px;
    border:0;
    /* display: inline-block; */
    position: relative;
    text-align: center;
    width: 100%;
    height: 20em;
}

.image[data-position] img{
    object-fit: cover;
    /* display: block; */
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 20em;
}

.image[data-position="center"] img{
    object-position: center;
}

.image .img-large {
    display: flexbox;
}
.image .img-med {
    display: none;
}
.image .img-small {
    display: none;
}

/* Title text */

.title-text h2 {
    display: block;
    transform: translate(+0%, +10%);
    color: #4361c2;
    font-size: 3em;
    text-shadow: -2px -2px 5px #4fa49a;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: #000000;
    margin-block-start: 0.83em;
    margin-block-end: 0.83em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-weight: bold;
} 

.myButton {
    background:linear-gradient(to bottom, #4579c7 5%, #43b0d1 100%);
    background-color:#4579c7;
    border-radius:8px;
    border:1px solid #195bab;
    display:inline-block;
    cursor:pointer;
    color:#ffffff;
    font-size:.65em;
    padding:.5em 1em;
    text-decoration:none;
    text-shadow:0px 1px 0px #2f6627;
}

.myButton:hover {
    background:linear-gradient(to bottom, #43b0d1 5%, #4579c7 100%);
    background-color:#43b0d1;
}

.myButton:active {
    position:relative;
    top:1px;
}

.container {
    font-size: 1.5em;
    letter-spacing: -1px;
    word-spacing: 1px;
    color: #000000ba;
    font-weight: normal;
    text-decoration: none;
    font-style: normal;
    font-variant: normal;
    text-transform: none;
    }

figure{position: relative;}

figure img{
    float: right;
    border-radius: 50%;
    width: 7em;
    overflow: hidden;
}

blockquote {
    width: 100%;
}

/* link in body */
.content a {
    color: #4361c2;
    font-size: .9em;
  }
  
  /* mouse over link in body */
.content  a:hover {
    color: rgba(0, 128, 0, 0.708);
  }

  @media screen and (max-width: 1350px) {
    
    .cartoon img{
        width: 55%;
    }
    
    /* Title text */
    
    .title-text h2 {
        display: block;
        transform: translate(+0%, +10%);
        color: #4361c2;
        font-size: 2.5em;
        text-shadow: -2px -2px 5px #4fa49a;
        -webkit-text-stroke-width: 1px;
        -webkit-text-stroke-color: #000000;
        margin-block-start: 0.83em;
        margin-block-end: 0.83em;
        margin-inline-start: 0px;
        margin-inline-end: 0px;
        font-weight: bold;
    } 
    
    }

@media screen and (max-width: 1024px) {

.cartoon img{
    width: 55%;
}

/* Title text */

.title-text h2 {
    display: block;
    transform: translate(+0%, +10%);
    color: #4361c2;
    font-size: 2em;
    text-shadow: -2px -2px 5px #4fa49a;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: #000000;
    margin-block-start: 0.83em;
    margin-block-end: 0.83em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-weight: bold;
} 

}
@media screen and (max-width: 750px) {
    .image .img-large {
        display: none;
    }
    .image .img-med {
        display: inline;
    }
    .image .img-small {
        display: none;
    }
    
    .cartoon img{
        width: 70%;
    }

    /* Title text */

.title-text h2 {
    display: block;
    transform: translate(+0%, +10%);
    color: #4361c2;
    font-size: 2em;
    text-shadow: -2px -2px 5px #4fa49a;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: #000000;
    margin-block-start: 0.83em;
    margin-block-end: 0.83em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-weight: bold;
} 
    
    }

@media screen and (max-width: 450px) {
    .image .img-large {
        display: none;
    }
    .image .img-med {
        display: none;
    }
    .image .img-small {
        display: flex;
    }
    
    .cartoon img{
        width: 80%;
    }

    /* Title text */

.title-text h2 {
    display: block;
    transform: translate(+0%, +10%);
    color: #4361c2;
    font-size: 2em;
    text-shadow: -2px -2px 5px #4fa49a;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: #000000;
    margin-block-start: 0.83em;
    margin-block-end: 0.83em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-weight: bold;
} 


    }